@model BethanysPieShop.Models.ExoticBeberage

<h2>@Model.Description</h2>

<div class="thumbnail">
    <div class="form-group">
        Description: <label>@Model.Description</label>
        <hr />
        Ingredients
        Ingredient 1: <label>@Model.Ingrediente1</label><br />
        Ingredient 2: <label>@Model.Ingrediente2</label><br />
        Ingredient 3: <label>@Model.Ingrediente3</label><br />
        Ingredient 4: <label>@Model.Ingrediente4</label><br />
        Ingredient 5: <label>@Model.Ingrediente5</label><br />
        <hr />
        Step 1: <label>@Model.Step1</label><br />
        Step 2: <label>@Model.Step2</label><br />
        Step 3: <label>@Model.Step3</label><br />
        Step 4: <label>@Model.Step4</label><br />
        Step 5: <label>@Model.Step5</label><br />
    </div>

<div/>

<partial name="_ExoticPartialView">